:root {
    --header-footer-color: rgb(88, 47, 14);
    --contact-background-color: rgba(70, 86, 35, 0.7);
    --review-text-color: linen;
}

#contact-header {
    text-align: center;
    color: var(--header-footer-color);
}

#contact {
    border: 1px solid var(--header-footer-color);
    background: var(--contact-background-color);
    color: var(--review-text-color);
    align-items: center;
}

#contact, #message {
    font-family: inherit;
}

.contact-style {
    background:var(--wine-block-background-color);
    border: 1px solid var(--border-color);
    text-align: center;
    padding:10px;
    margin: 30px;
    border-radius: 5px;
    padding-top: 50px;
    color:#100C10;
}

#final-message {
    text-align: center;
    color: var(--review-text-color);
}

@media screen and (min-width: 900px) {

    #form-map {
        /* display: flex; */
        margin-left: 5%;
    }

    .contact-style {
        width: 17.2%;
        text-align: center;
        padding:15px 10px;
        margin-left: 40.4px;
    }

    #final-message {
        text-align: center;
        color: var(--review-text-color);
    }

}