:root {
    --wine-block-background-color: rgba(177, 143, 123, 0.7);
    --border-color: rgb(127, 79, 36);
}

.style {
    background:var(--wine-block-background-color);
    border: 1px solid var(--border-color);
    text-align: center;
    padding:10px;
    margin: 30px;
    border-radius: 5px;
    padding-top: 50px;
    /* color:#100C10; */
}

#p-container {
    max-width: 100%;
    height: auto;
}

#p-container {
    display: flex;
    justify-content: space-between;
    width: 293px;
    margin: auto;
}

.wine-p-1 {
    font-weight: bold;
}

.wine-p-1, .wine-p-2 {
    text-align: left;
    white-space: nowrap;
}

@media screen and (min-width: 900px) {

    .style, .news-style {
        width: 25.5%;
        text-align: center;
        padding:15px 10px;
        margin-left: 40.4px;
    }
}