:root {
    --header-footer-color: rgb(88, 47, 14);
}

#news-articles-header {
    text-align: center;
    color: var(--header-footer-color);
}

@media screen and (min-width: 900px) {
    .blocks {
        display: flex;
        flex-wrap: wrap;
    }
}