:root {
    --main-background-color: rgba(255, 255, 255, .7);
    --border-color: rgb(127, 79, 36);
}

body {
    background: url(images/hand-bottles.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    text-align: center;
    padding: 10px;
}

#content {
    background: var(--main-background-color);
    width: 80%;
    margin: auto;
    padding: 5px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

#image {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 900px) {
    .columns {
        display: flex;
    }

    #main-nav ul {
        display: flex;
        text-align: center;
    }

    #main-nav li{
        flex: 1;
        border-right: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
    }

    .news-style {
        width: 25.5%;
        text-align: center;
        padding:15px 10px;
        margin-left: 40.4px;
    }

    .blocks {
        display: flex;
        flex-wrap: wrap;
    }
}