:root {
    --main-background-color: rgba(255, 255, 255, .7);
    --border-color: rgb(127, 79, 36);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body.map-body {
    background: url(/public/images/wooden-barrels.jpg);
}

body.history-body {
    background: url(/public/images/corks.jpg);
}

#content {
    background: var(--main-background-color);
    width: 80%;
    margin: auto;
    padding: 5px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

@media screen and (min-width: 900px) {

    body.home-body {
        background: url(/public/images/hand-bottles.jpg);
    }

    body.cellar-body {
        background: url(/public/images/vertical-grapes.jpg);
    }

    body.reviews-body {
        background: url(/public/images/vineyard-field.jpg);
    }
}