:root {
    --home-background: rgb(182, 173, 144);
}

body {
    background: var(--home-background);
}

#main-content {
    text-align: center;
    padding: 10px;
}

#image {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 900px) {

    body {
        background: url(/public/images/hand-bottles.jpg);
    }
}